body {
  background-color: #EDEAE9;
  background-image: url("../img/background.png");
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #4D4D4D;
  margin: 0px;
  padding: 0px;
  overflow: visible;
  overflow-y: scroll;
}
table {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.fLeft {
  float: left;
}
.fRight {
  float: right;
}
.headerContent {
  position: relative;
  width: 1200px;
  margin: auto;
  padding-left: 25px;
}
.headerLabel {
  font-size: 70px;
  font-weight: bold;
  color: #5E5E5E;
}
.imgLink {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.imgLink:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: pointer;
}
.headerImg {
  width: 64px;
  margin-left: 9px;
  margin-right: 9px;
  position: relative;
  top: 12px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.dateIncWrap {
  position: absolute;
  top: 40px;
  left: 700px;
  width: 300px;
}
.buttonsWrap {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 150px;
}
.selectedDate {
  width: 135px;
  font-size: 28px;
  font-weight: bold;
  color: #5E5E5E;
  float: left;
  text-align: center;
}
.content {
  width: 1200px;
  margin: auto;
}
.shadowBox {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 15px 50px 0 rgba(0, 0, 0, 0.1);
}

.menuBoxWidth2 {
  width: 550px;
}
.menuBoxWidth2:nth-of-type(2n+3) {
	clear: both; 
}

.menuBoxWidth3 {
  width: 360px;
}
.menuBoxWidth3:nth-of-type(3n+4) {
	clear: both; 
}

.menuBoxWidth4 {
  width: 260px;
}
.menuBoxWidth4:nth-of-type(4n+5) {
	clear: both; 
}

.menuBox {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  float: left;
}
.menuHeader {
  background-color: #5E5E5E;
  color: #fff;
  font-size: 24px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 3px;
  position: relative;
  box-shadow: 2px 0px 6px 0 rgba(0, 0, 0, 0.2);
}
.menuHeaderImgLinks {
  position: absolute;
  right: 10px;
  top: 13px;
}
.menuHeaderImgLinks .imgLink {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.menuHeaderImgLinks .imgLink:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: pointer;
}
.menuSeparator {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: rgb(44, 174, 249);
}
.menuBody {
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 15px 50px 0 rgba(0, 0, 0, 0.1);
}
table.pubMenuTable {
  width: 100%;
}
table.pubMenuTable tr td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
table.pubMenuTable tr:hover td {
  border-top: 1px solid #F9F9FF;
  border-bottom: 1px solid #F9F9FF;
  color: #020202;
}
td.menuPriceTd {
  white-space: nowrap;
}
td.menuPrefixTd {
  vertical-align: top;
}
.pubMenuOrderOrder {
  height: 32px;
}
.pubMenuOrderOrder .imgLink {
  width: 24px;
}
.settingsPubName {
  width: 175px;
  float: left;
  font-size: 20px;
}

.leftSideSettings {
	float: left;
	width: 48%;
}

.rightSideSettings {
	float: right;
	width: 48%;
}

#aboutButton {
	margin-left: 7px;
}

@media screen and (max-width: 1000px) {
  
  .headerLabel {
    display: none;
  }
  
  .headerImg {
    display: none;
  }
  
  #allPubsMarkersButton {
    display: none;
  }
  
  .headerContent {
    width: 100%;
    padding: 0px;
  }
  
  .content {
    width: 100%;
  }
  
  .buttonsWrap {
    position: static;
    width: 50px;
    float: right;
  }
  
  .dateIncWrap {
    margin: auto;
    margin-top: 5px;
    width: 235px;
    position: static;
  }
  
  .menuBox {
    margin: 5px 5px 10px 5px;
    padding: 0px;
    width: calc(100% - 12px);
  }
  
  .leftSideSetting {
  	width: 98%;
  }
  
  .rightSideSettings {
    display: none;
  }
  
  #aboutButton {
    display: none;
  }
}

